@import "./normalize.css";

:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #ff8198;
  --fontsize: 14px;
  --line-height: 1.5;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: #ff5777;
  /* 家里第一次修改 */
  background-color: #ff5777;
  /* 家里第二次修改 */
}