@import "./normalize.css";

:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #ff8198;
  --fontsize: 14px;
  --line-height: 1.5;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  /* 公司电脑修改 */
}